.personcontainer {
    width: 60%; /* Setter hvor bredt div elementet skal være. */
    margin: 0 auto; /* Sentrerer div elementet. */
    padding-top: 5%; /* Utvider elementet på toppen. */
}

.image {
    max-width: 30%;
}

.container {
    width:80%;
    height: auto;
    margin: 0 auto; /* Sentrerer div elementet. */
    padding-bottom: 1%;
    min-height: 98%; /* For å passe på at hele siden blir grå/hvit */
    background-color: white; /* Setter bakgrunnen til div elementet hvitt. */
}
body {
    margin: 0; /* Fjerner marginer på topp/siden */
    background-color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.spanner {
    color: red; /* farge på et element som thomas bruker. */
}

.logo {
    padding-right: 10px;
}

.table, th, td {
    border: 1px solid black;
}